## XeLaTeX
presentation/*.aux
presentation/*.lof
presentation/*.log
presentation/*.lot
presentation/*.fls
presentation/*.out
presentation/*.toc
presentation/*~
presentation/*.bak
presentation/*.backup
presentation/*.kilepr
presentation/*.pdf
# beamer
presentation/*.nav
presentation/*.snm
presentation/*.vrb
# hyperref
presentation/*.brf
# listings
presentation/*.lol
# makeidx
presentation/*.idx
presentation/*.ilg
presentation/*.ind
presentation/*.ist
# minitoc
presentation/*.maf
presentation/*.mtc
presentation/*.mtc0
# minted
presentation/*minted*
presentation/*.pyg
# nomencl
presentation/*.nlo
## Other
*~
*.bak
*.backup
examples/geneland/*
examples/.rkward_autosave
examples/*.RData.rkworkplace
examples/*.fasta
examples/*.nexus
examples/*.nwk
examples/*.png
examples/*.rda
examples/*.svg
examples/*.txt
examples/*.vcf*
examples/macedonia_*
examples/test.RData
rcourse/macedonia.zip
